.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height:600px;
    width: 100%;
    background-color: #000;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #160f0f;    
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-color: green yellowgreen orange white;    
    
}

  
.rows{
  background-color: aqua;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    width:100px;
    border:1px solid black;
    background-color: beige;
    font-size: 80px;
    
}
.winnerbox{
  height: 50px;
  width: auto;
  background-color: #000;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#winner-box{
  color: whitesmoke;
}